header.block-header-4.sticky-top.bg-white
  nav.navbar.navbar-expand-lg.navbar-light
    .container
      a.navbar-brand(href=metadata.url)
        img.d-inline-block.align-text-top.me-1(src=filters.url(metadata.icon), alt="", width="auto", height="24")
        | #{metadata.title}
