mixin text-1(section)
    section.block-text&attributes(attributes)
        .container
            .row.my-5
                .col.p-3.col-5
                    h3 !{section.header}
                .col.p-3
                    p !{section.content}
