---
layout: project
title: "Jugend Forscht"
image: /images/jugend-forscht/jugend-forscht.svg
description: "Work submitted to the German youth research competition Jugend forscht in 1999"
permalink: "| /jugend-forscht/"
---
block append content 

  section.container
    .row.mt-5
      .col-md-9
        article#jugend-forscht(lang="de")
          | !{ filters.markdown("text-blocks/jugend-forscht.md") }
      .col-md-3.d-none.d-md-block

        .span.fs-5
          i.bi-translate
          |  Translate
        a.ms-1(href=`https://translate.google.com/translate?js=n&sl=auto&tl=&u=${metadata.url+page.url}` rel="nofollow" target="_blank") English (Google)

        .sticky-md-top
          //-  Table of Content Container
          .span.fs-5
            i.bi-justify-left
            |  Content
          | !{filters.toc(filters.markdown("text-blocks/jugend-forscht.md"), {tags:['h2'], wrapperClass:"toc ps-1", ul: true })}

