---
layout: project
title: "Photosynthesis Scheme | Sebastian"
image: /images/science/photosynthesis-schema.svg
description: "Generate a scheme of the photosynthetic machinery for presentations or slides."
permalink: "| /photosynthesis-scheme/"
---
block append head
  script(src="/javascript/photosynthesis.min.js")
  script(defer, src="/javascript/ps-app.js")

block append content 

  section.container#photosynthesis-scheme
    .row
      aside#settings-container.col-5.col-md-3.d-print-none
        //- Downloads and Backups
        .mt-3
          .row
            .col-12.col-xl-6.mb-3
              .small.fw-bold.mb-1 Download
              .btn-group.w-100(role='group' aria-label='Downloads')
                button#download-svg.btn.btn-outline-secondary.btn-sm SVG
                button#download-png.btn.btn-outline-secondary.btn-sm PNG
            .col-12.col-xl-6.mb-3
              .small.fw-bold.mb-1 Settings
              .btn-group.w-100(role='group' aria-label='Settings')
                button#download-json.btn.btn-outline-secondary.btn-sm Save
                button#backup-click.btn.btn-outline-secondary.btn-sm Import
              input#import-json.form-control.form-control-sm.d-none(type='file')
        //- Presets
        div
          .small.fw-bold.mb-1 Presets
          #presets
        //- Settings
        #settings
        hr
        .d-flex.justify-content-between
          button#resetBtn.btn.btn-outline-danger.btn-sm(data-bs-toggle='modal' data-bs-target='#resetModal')
            svg.bi.bi-arrow-counterclockwise(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
              path(fill-rule='evenodd' d='M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z')
              path(d='M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z')
            |             Reset
          button#toggleBtn.btn.btn-outline-secondary.btn-sm &larr;
      //- SVG container
      main.col.pt-3
        fs-1.d-none.d-print-block.text-center.mb-3 Photosynthesis Scheme
        figure.figure
          #svg.figure-img.img-thumbnail
          figcaption#figure-legend.figure-caption
        .small.mb-2 References:
        #references
        .text-muted.fw-light.text-end.mb-3(style='font-size:smaller')
          | #[i.bi-cc-circle] Schema figures are free to use and modify. An attribution is not required but appreciated.
  
    #resetModal.modal.modal-sm.modal-alert(tabindex='-1' role='dialog')
      .modal-dialog
        .modal-content.rounded-3.shadow
          .modal-body.p-4.text-center
            h5.mb-2 Reset Settings?
            p.mb-0.small You can save your settings to import them later, before you continue.
          .modal-footer.flex-nowrap.p-0
            button#reset-form.btn.btn-lg.btn-link.fs-6.text-decoration-none.col-6.m-0.rounded-0.border-end(type='button' data-bs-dismiss='modal')
              strong.text-danger Yes
            button.btn.btn-lg.btn-link.fs-6.text-decoration-none.col-6.m-0.rounded-0.text-dark(type='button' data-bs-dismiss='modal') No thanks
