---
eleventyExcludeFromCollections: true
dynamicPermalink: false
permalink: "/search-index.json"
---

- var idx = searchIndex.searchindexLunr(collections.posts);
- idx = {...idx, meta:{}}

each post in collections.posts
  - idx.meta[ post.url ] = {title: post.data.title, excerpt: filters.excerpt(post, 50), description: post.data.description }

| !{JSON.stringify(idx, null, 0)}
