---
layout: home
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
excludeFromSitemap: true
eleventyComputed:
  permalink: "| tags/#{ filters.slugify(tag) }/"
  title: "| Tag #{\"|\"} #{tag}"
---
include /shared/block-hero
include /shared/block-post
block append content

  +hero-1({h2: '# '+tag})(class="bg-secondary mb-4")

  section.container
    .row.mb-1.px-2
      .col
        nav(style=`--bs-breadcrumb-divider: '▸';` aria-label="breadcrumb")
          ol.breadcrumb
            li.breadcrumb-item: a(href="/posts/") Posts
            li.breadcrumb-item: a(href="/tags/") Tags
            li.breadcrumb-item.text-uppercase.active(aria-current="page") #{tag}
    .row 
      .col
        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
          for post in collections[ tag ]
            +post-card(post)